# ===== PostgreSQL =====
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=flibusta
POSTGRES_PASSWORD=flibusta_secret
POSTGRES_DB=flibusta

# ===== Приложение =====
APP_HOST=0.0.0.0
APP_PORT=8000
APP_DEBUG=true

# ===== Telegram =====
TELEGRAM_BOT_TOKEN=
TELEGRAM_ALLOWED_USERS=

# ===== Пути =====
INPX_PATH=D:/Users/Downloads/fb2.Flibusta.Net/flibusta_fb2_local.inpx
TORRENT_DATA_PATH=D:/Users/Downloads/fb2.Flibusta.Net
TEMP_DOWNLOAD_PATH=./tmp_downloads

# ===== Torrent =====
TORRENT_HASH=85E99AB1E0D6ED9DE11D96E1A1C48F145986B64C
TORRENT_MAGNET=magnet:?xt=urn:btih:85E99AB1E0D6ED9DE11D96E1A1C48F145986B64C&dn=fb2.Flibusta.Net&tr=http%3a%2f%2fbt.booktracker.work%2fann%3fmagnet&tr=http%3a%2f%2fretracker.hq.ertelecom.ru%2fannounce

# ===== Временные файлы =====
TEMP_FILE_TTL_MINUTES=10