# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Env
.env

# IDE
.vscode/
.idea/

# Временные файлы
tmp_downloads/
*.log

# OS
.DS_Store
Thumbs.db

inpx_tmp/